<nav class="fixed-bottom navbar navbar-expand-md navbar-light bg-light effect-main border-bottom border-dark">
    <div class="container container-s">

        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/contactus">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/rules">Terms and conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/pricing">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>