<nav class="navbar navbar-expand-md navbar-light bg-light effect-main border-bottom border-dark">
    <div class="container container-s">
        <a class="navbar-brand" href="/">PodScholar</a>
        <div>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/pages/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/search">Search Results</a>
                </li>
                <li id="register" class="nav-item">
                    <a class="nav-link" href="/auth/signup">Register</a>
                </li>
                <li id="login" class="nav-item">
                    <a class="nav-link" href="/auth/signin">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>